@if (order) {
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="text-sm font-medium">{{ order?.order_number }}</div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="text-sm text-gray-500">{{ order?.created_at }}</div>
  </td>
  <td class="px-6 py-4">
    <div class="flex -space-x-2">
      @for (item of order?.items; track $index) {
        @for (image of item.equipment.files.slice(0,2); track $index) {
          <img
            class="w-8 h-8 rounded-full ring-2 ring-white"
            [src]="fileUrl + image.file_path"
            alt="Equipment"
          />
        }
        @if (item.equipment.files.length > 2) {
          <span
            class="flex items-center justify-center w-8 h-8 text-xs font-medium bg-gray-200 rounded-full ring-2 ring-white"
          >
            +{{ item.equipment.files.length - 2 }}
          </span>
        }
      }
    </div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="text-sm font-medium">{{ order.total_amount }}</div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <span
      class="inline-flex px-3 py-1 text-xs font-semibold leading-5 text-yellow-800 bg-yellow-100 rounded-full"
    >
      {{ order.status }}
    </span>
  </td>
  <td class="px-6 py-4 text-sm font-medium whitespace-nowrap">
    <div class="flex items-center justify-start gap-x-2">
      <button
        class="flex items-center justify-center text-green-400 bg-green-200 rounded-md h-7 w-7 dark:bg-green-500 dark:text-green-300"
      >
        <svg-icon
          [src]="'assets/icons/heroicons/outline/eye.svg'"
          [svgClass]="'h-5 w-5'"
        >
        </svg-icon>
      </button>
      <button
        class="flex items-center justify-center text-red-400 bg-red-200 rounded-md h-7 w-7 dark:bg-red-500 dark:text-red-300"
      >
        <svg-icon
          [src]="'assets/icons/heroicons/outline/trash.svg'"
          [svgClass]="'h-5 w-5'"
        >
        </svg-icon>
      </button>
    </div>
  </td>
}
