<section
class="min-h-[25vh]  flex flex-col justify-end items-center bg-dark has-bg-image pb-10 md:pb-0"
  style="background-image: url(&quot;./assets/images/footer-bg.png&quot;)"
>
<div class="text-white text-[2rem] md:text-[3rem]  capitalize font-[500] mb-3">About US</div>
  <p class="text-[14px] xl:text-[16px] lg:text-[12px] text-center">
    Get to know more about Direna FitPro and our mission
  </p>
</section>

<section>
  <div class="md:px-[5rem] md:py-[5rem]">
    <about-section></about-section>
  </div>

  <section class="py-12 bg-primary-50">
    <div class="container px-4 mx-auto">
      <div class="flex items-center justify-center my-7">
        <p class="py-3 section-subtitle">Our Team</p>
      </div>

      <div class="grid grid-cols-1 gap-8 md:grid-cols-3">
        <team-member
          *ngFor="let member of teamMembers"
          [name]="member.name"
          [role]="member.role"
          [imageUrl]="member.imageUrl"
        >
        </team-member>
      </div>
    </div>
  </section>


</section>
