<!-- login form -->

  <div class="text-center font-catamaran">
    <h2
      class="flex justify-center gap-3 mb-1 text-xl font-semibold text-gray-700 md:text-3xl dark:text-white"
    >
      Welcome To our Platform <span class="text-primary-500">!</span>
    </h2>
    <p class="text-sm text-gray-400 md:text-md dark:text-night-200">
      Enter your Details to start working with our Platform.
    </p>
    <p class="text-sm text-gray-400 md:text-md dark:text-night-200">
      <span class="text-red-600">Note:</span> You can register as a member
      or a user.
    </p>
    <p class="text-sm text-red-600 dark:text-night-200">
      Also Ensure to use a valid email address as it will be used to send your login
      credentials!.
    </p>
  </div>

  <div class="">
    <div
      class="flex p-1 overflow-auto text-black rounded-lg bg-gray-50 dark:bg-night-500 dark:text-night-200 has-scrollbar"
    >
      @for (tab of tabs; track $index) {
        <button
          [ngClass]="{
            'bg-gray-200 hover:bg-gray-300 dark:bg-night-600':
              activeTab === tab.value,
          }"
          (click)="setActiveTab(tab.value)"
          class="px-4 py-2 text-sm transition-colors duration-200 rounded-lg focus:outline-none font-catamaran"
        >
          {{ tab.title }}
        </button>
      }
    </div>

    <div
      *ngIf="activeTab === 'member'"
      class="py-6 text-black rounded-lg dark:bg-night-500 dark:text-night-200 font-catamaran"
    >
      <member-registration></member-registration>
    </div>

    <div
      *ngIf="activeTab === 'user'"
      class="py-6 text-black rounded-lg dark:bg-night-500 dark:text-night-200 font-catamaran"
    >
      <user-registaration></user-registaration>
    </div>
  </div>

