<section
  class="section class bg-dark has-bg-image"
  id="class"
  aria-label="class"
  style="background-image: url(&quot;./assets/images/classes-bg.png&quot;)"
>
  <div class="container">
    <p class="section-subtitle">Our Classes</p>

    <h2 class="h2 section-title text-center">Fitness Classes For Every Goal</h2>

    <ul class="class-list has-scrollbar">
      @for (class of classData; track $index) {
        <li class="scrollbar-item">
          <div class="class-card">
            <figure
              class="card-banner img-holder"
              style="--width: 416; --height: 240"
            >
              <img
                src="{{ class.image }}"
                width="416"
                height="240"
                loading="lazy"
                alt="Weight Lifting"
                class="img-cover"
              />
            </figure>

            <div class="card-content">
              <div class="title-wrapper">
                <img
                  src="{{ class.icon }}"
                  width="52"
                  height="52"
                  aria-hidden="true"
                  alt=""
                  class="title-icon"
                />

                <h3 class="h3">
                  <a href="#" class="card-title">{{ class.title }}</a>
                </h3>
              </div>

              <p class="card-text">
                {{ class.description }}
              </p>

              <div class="card-progress">
                <div class="progress-wrapper">
                  <p class="progress-label">Class Full</p>

                  <span class="progress-value">{{ class.classFull }}%</span>
                </div>

                <div class="progress-bg">
                  <div
                    class="progress-bar"
                    [style.width.%]="class.classFull"
                  ></div>
                </div>  
              </div>
            </div>
          </div>
        </li>
      }
    </ul>
  </div>
</section>
