<section class="my-2">
  <div>
    <equipments-header></equipments-header>
  </div>
  <div class="my-3">
    <div
      class="grid grid-cols-1 gap-3 sm:grid-cols-2 md:grid-cols-3 2xl:grid-cols-5"
    >
      @for (equipment of data; track $index) {
        <equipment-card
          [badgeText]="'-20%'"
          [badgeColor]="'var(--ocean-green)'"
          [oldPrice]="'$75.00'"
          [showRating]="true"
          [rating]="4"
          [equipment]="equipment"
          (singleView)="view($event)"
        ></equipment-card>
      }
    </div>
  </div>
</section>
