<!-- modal.component.html -->
<div
  *ngIf="isOpen"
  class="fixed inset-0 z-50 flex items-center justify-center px-5 md:px-0"
>
  <!-- Modal Overlay -->
  <div
    (click)="closeModal()"
    class="fixed inset-0 duration-300 ease-in bg-gray-900 bg-opacity-50 dark:bg-gray-100 dark:bg-opacity-15"
  ></div>

  <!-- Modal -->
  <div
    @modalAnimation
    class="z-10 w-full max-w-lg bg-white rounded-lg shadow-lg dark:bg-night-700"
  >
    <div class="flex gap-2 px-4 pt-3 border-b">
      <div>
        <svg-icon
          src="assets/icons/heroicons/solid/exclamation-triangle.svg"
          [svgClass]="'h-7 w-7 text-yellow-500 '"
        ></svg-icon>
      </div>
      <div>
        <h2
          class="text-xl font-semibold text-gray-700 font-rubik dark:text-night-50"
        >
          {{ title }}
        </h2>
      </div>
    </div>
    <div class="p-6">
      <p class="text-gray-700 dark:text-night-50 font-rubik font-[500]">
        {{ content }}
      </p>
      <p class="my-3 text-md font-raleway dark:text-night-50">
        <span class="text-red-600 font-[500] font-rubik">Note:: </span
        >{{ subContent }}
      </p>
    </div>
    <div class="flex items-center justify-end gap-3 p-3 border-t">
      <Button
        size="medium"
        color="danger"
        (onClick)="closeModal()"
        [rounded]="true"
        >cancel</Button
      >

      <Button
        size="medium"
        color="secondary"
        (onClick)="save()"
        [rounded]="true"
        ><svg
          *ngIf="loading"
          class="w-5 h-5 mr-3 -ml-1 text-center animate-spin text-primary-500"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
        <span *ngIf="!loading"> submit</span></Button
      >
    </div>
  </div>
</div>
