<div class="flex flex-wrap items-center justify-end gap-2 px-5 py-3">
  <ng-container *ngFor="let action of actions">
    <!-- Search Input -->
    <div *ngIf="action.type === 'search'" class="flex">
      <label class="relative text-muted-foreground">
        <div class="absolute left-2.5 top-2.5">
          <svg-icon
            src="./assets/icons/heroicons/outline/magnifying-glass.svg"
            [svgClass]="'h-4 w-4'"
          >
          </svg-icon>
        </div>
        <input
          class="py-2 pl-8 pr-2"
          [placeholder]="action.placeholder || 'Search...'"
          type="text"
          (input)="action.action($event)"
        />
      </label>
    </div>

    <div *ngIf="action.type === 'select'" class="">
      <NormalSelect
        [options]="action.options"
        [placeholder]="action.placeholder"
        (selectionChange)="action.action($event)"
      >
      </NormalSelect>
    </div>
  </ng-container>
</div>
