<div class="flex items-center h-16 bg-white dark:bg-night-700">
  <div
    class="flex w-full items-center justify-between px-7 text-[13px] font-medium"
  >
    <div class="flex items-center text-gray-400 dark:text-night-300">
      <span class="mr-2">{{ year }}©</span>
      <a
        href="https://github.com/luciano-work/angular-tailwind"
        target="_blank"
        class="font-normal text-gray-800 hover:text-primary-500 dark:text-night-100 dark:hover:text-primary-500"
      >
       Direna FitPro
      </a>
    </div>
    <!-- <ul class="flex text-gray-500 dark:text-night-300">
      <li class="hover:text-primary-500">
        <a
          href="https://github.com/luciano-work/angular-tailwind/issues"
          target="_blank"
          class="px-2 menu-link"
        >
          Issues
        </a>
      </li>
      <li class="hover:text-primary-500">
        <a
          href="https://github.com/luciano-work/angular-tailwind"
          target="_blank"
          class="px-2 menu-link"
          >Sponsor</a
        >
      </li>
      <li class="hover:text-primary-500">
        <a
          href="https://github.com/luciano-work/angular-tailwind"
          target="_blank"
          class="px-2 menu-link"
          >Starred</a
        >
      </li>
    </ul> -->
  </div>
</div>
