<div>
  <div class="w-auto">
    <main class="py-8">
      <div class="mb-8 overflow-hidden bg-white shadow rounded-xl">
        <div class="">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th
                  class="px-6 py-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                >
                  Order ID
                </th>
                <th
                  class="px-6 py-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                >
                  Date
                </th>
                <th
                  class="px-6 py-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                >
                  Items
                </th>
                <th
                  class="px-6 py-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                >
                  Total
                </th>
                <th
                  class="px-6 py-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                >
                  Status
                </th>
                <th
                  class="px-6 py-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                >
                  Actions
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <!-- <tr class="transition-colors duration-200 hover:bg-gray-50">
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm font-medium">#ORD-5289</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-500">June 15, 2023</div>
                </td>
                <td class="px-6 py-4">
                  <div class="flex -space-x-2">
                    <img
                      class="w-8 h-8 rounded-full ring-2 ring-white"
                      src="https://images.unsplash.com/photo-1600185365483-26d7a4cc7519?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=150&amp;q=80"
                      alt="Product"
                    />
                    <img
                      class="w-8 h-8 rounded-full ring-2 ring-white"
                      src="https://images.unsplash.com/photo-1546868871-7041f2a55e12?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=150&amp;q=80"
                      alt="Product"
                    />
                    <span
                      class="flex items-center justify-center w-8 h-8 text-xs font-medium bg-gray-200 rounded-full ring-2 ring-white"
                    >
                      +3
                    </span>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm font-medium">$245.99</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <span
                    class="inline-flex px-3 py-1 text-xs font-semibold leading-5 text-green-800 bg-green-100 rounded-full"
                  >
                    Delivered
                  </span>
                </td>
                <td class="px-6 py-4 text-sm font-medium whitespace-nowrap">
                  <div class="flex flex-col gap-4">
                    <button
                      class="mr-3 transition-colors duration-200 text-primary-600 hover:text-primary-800"
                    >
                      View Details
                    </button>
                    <div class="p-6">
                      <div class="flow-root">
                        <ul class="-mb-8">
                          <li>
                            <div class="relative pb-8">
                              <span
                                class="absolute top-5 left-5 -ml-px h-full w-0.5 bg-gray-200"
                                aria-hidden="true"
                              ></span>
                              <div class="relative flex items-start space-x-3">
                                <div class="relative">
                                  <div
                                    class="flex items-center justify-center w-10 h-10 bg-green-500 rounded-full ring-8 ring-white"
                                  >
                                    <svg
                                      class="w-5 h-5 text-white"
                                      xmlns="http://www.w3.org/2000/svg"
                                      viewBox="0 0 20 20"
                                      fill="currentColor"
                                    >
                                      <path
                                        fill-rule="evenodd"
                                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                        clip-rule="evenodd"
                                      ></path>
                                    </svg>
                                  </div>
                                </div>
                                <div class="flex-1 min-w-0">
                                  <div>
                                    <p class="font-medium text-gray-900">
                                      Order Delivered
                                    </p>
                                    <p class="mt-1 text-sm text-gray-500">
                                      Jun 14, 2023 - 10:24 AM
                                    </p>
                                  </div>
                                  <div class="mt-2 text-sm text-gray-700">
                                    <p>
                                      Your package was delivered successfully
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="relative pb-8">
                              <span
                                class="absolute top-5 left-5 -ml-px h-full w-0.5 bg-gray-200"
                                aria-hidden="true"
                              ></span>
                              <div class="relative flex items-start space-x-3">
                                <div class="relative">
                                  <div
                                    class="flex items-center justify-center w-10 h-10 bg-blue-500 rounded-full ring-8 ring-white"
                                  >
                                    <svg
                                      class="w-5 h-5 text-white"
                                      xmlns="http://www.w3.org/2000/svg"
                                      viewBox="0 0 20 20"
                                      fill="currentColor"
                                    ></svg>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <button
                    class="text-gray-500 transition-colors duration-200 hover:text-gray-700"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="w-5 h-5"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                    >
                      <path
                        d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z"
                      ></path>
                    </svg>
                  </button>
                </td>
              </tr> -->
              <tr orders-table-row  class="transition-colors duration-200 hover:bg-gray-50"></tr>
            </tbody>
          </table>
        </div>
        <div class="px-6 py-4 border-t border-gray-200">
          <div class="flex items-center justify-between">
            <div class="text-sm text-gray-500">
              Showing <span class="font-medium">1</span> to
              <span class="font-medium">5</span> of
              <span class="font-medium">12</span> orders
            </div>
            <div class="flex space-x-2">
              <button
                class="px-3 py-1 text-sm font-medium text-gray-700 transition-colors duration-200 bg-white border border-gray-300 rounded-md hover:bg-gray-50 disabled:opacity-50 disabled:cursor-not-allowed"
                disabled=""
              >
                Previous
              </button>
              <button
                class="px-3 py-1 text-sm font-medium text-gray-700 transition-colors duration-200 bg-white border border-gray-300 rounded-md hover:bg-gray-50"
              >
                Next
              </button>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
