.search-field::-webkit-search-cancel-button {
  display: none;
}

.search-btn {
  background: var(--white);
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
  color: var(--onyx);
  font-size: 18px;
  padding: 8px 15px;
  border-radius: var(--border-radius-md);
  transition: color var(--transition-timing);
}

.search-btn:hover {
  color: var(--salmon-pink);
}
/* Skeleton Loader Animation */
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.skeleton {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: 4px;
}

/* Specific styles for skeleton elements */
.skeleton {
  &.h-36 {
    height: 9rem; /* Equivalent to h-36 in Tailwind */
  }
  &.w-36 {
    width: 9rem; /* Equivalent to w-36 in Tailwind */
  }
  &.h-6 {
    height: 1.5rem; /* Equivalent to h-6 in Tailwind */
  }
  &.h-4 {
    height: 1rem; /* Equivalent to h-4 in Tailwind */
  }
}
