<section
  class="section hero bg-dark has-after max-h-1/2"
  id="home"
  aria-label="hero"
  data-section
  style="background-image: url(&quot;./assets/images/hero-bg.png&quot;)"
>
  @if (hero) {
    <div class="container">
      <div class="flex flex-col items-center lg:items-start">
        <p class="bg-gray-800 text-white p-[5px] hero-subtitle text-xl">
          <strong
            class="inline-block bg-[var(--coquelicot)] p-[6px] sm:py-2 sm:px-14 rounded-[var(--radius-5)] me-[10px] sm:me-[15px]"
            >The Best</strong
          >Fitness Club
        </p>
        <h1
          class="text-3xl font-[700] text-white hero-title xl:text-[3.8rem] xl:font-[900] leading-[1.2]"
        >
          {{ hero.title }}
        </h1>
        <p class="xl:text-[1.5rem] tracking-wider leading-normal">
          {{ hero.subtitle }}
        </p>
        <a class="btn btn-primary" routerLink="/auth">Join Us</a>
      </div>

      <div class="hero-banner">
        <img
          src="{{ hero.image }}"
          width="660"
          height="753"
          alt="hero banner"
          class="w-full"
        />

        <img
          src="./assets/images/hero-circle-one.png"
          width="666"
          height="666"
          aria-hidden="true"
          alt=""
          class="circle circle-1"
        />
        <img
          src="./assets/images/hero-circle-two.png"
          width="666"
          height="666"
          aria-hidden="true"
          alt=""
          class="circle circle-2"
        />

        <img
          src="./assets/images/heart-rate.svg"
          width="255"
          height="270"
          alt="heart rate"
          class="abs-img abs-img-1"
        />
        <img
          src="./assets/images/calories.svg"
          width="348"
          height="224"
          alt="calories"
          class="abs-img abs-img-2"
        />
      </div>
    </div>
  }
</section>
