@for (column of columns; track column.key) {
  @switch (column.type) {
    @case ("s/n") {
      <td class="">{{ index }}</td>
    }
    @case ("checkbox") {
      <td>
        <input
          [(ngModel)]="data.selected"
          type="checkbox"
          class="checkbox checkbox-sm"
          (change)="toggle($event)"
        />
      </td>
    }
    @case ("image") {
      <td>
        <!-- Handle files array -->
        @if (column.key === "files[0].file_path") {
          @if (data.files && data.files.length > 0) {
            <img
              class="object-cover w-10 h-10 rounded-full"
              [src]="fileUrl + data.files[0].file_path"
              alt=""
            />
          } @else {
            <span>No Image</span>
          }
        } @else {
          <img
            class="object-cover w-10 h-10 rounded-full"
            [src]="fileUrl + data[column.key]"
            alt=""
          />
        }
      </td>
    }
    @case ("text") {
      <td>{{ data[column.key] || "-" }}</td>
    }
    @case ("status") {
      <td class="">
        <div
          class="relative inline-flex items-center cursor-pointer"
          (click)="column.action(data)"
          [ngClass]="{
            'opacity-50': data[column.key] !== true,
            'opacity-100': data[column.key] === true,
          }"
        >
          <div
            class="w-10 h-5 transition-colors duration-300 rounded-full"
            [ngClass]="{
              'bg-green-500': data[column.key] === true,
              'bg-red-500': data[column.key] !== true,
            }"
          >
            <div
              class="absolute top-0.5 left-0.5 w-4 h-4 bg-white rounded-full shadow-md transition-transform duration-300"
              [ngClass]="{
                'translate-x-5': data[column.key] === true,
                'translate-x-0': data[column.key] !== true,
              }"
            ></div>
          </div>
          <span class="ml-2 text-xs">
            {{ data[column.key] === true ? "Active" : "Inactive" }}
          </span>
        </div>
      </td>
    }

    @case ("date") {
      <td>{{ (data[column.key] | date: "fullDate") || "-" }}</td>
    }
    @case ("badge") {
      <td>
        @for (item of data[column.key]; track $index) {
          <span
            class="rounded-[30px] bg-primary-500/10 px-2 py-0.5 text-xs font-medium text-primary-800 m-[1px]"
          >
            {{ item }}
          </span>
        }
      </td>
    }

    @case ("button") {
      <td>
        <div class="flex items-center justify-end gap-x-2">
          @for (type of column.actionType; track $index) {
            <button
              class="flex items-center justify-center rounded-md h-7 w-7"
              [ngClass]="{
                'bg-green-200 text-green-400 dark:bg-green-500 dark:text-green-300':
                  type === 'view',
                'bg-blue-200 text-blue-400 dark:bg-blue-500 dark:text-blue-300':
                  type === 'update',
                'bg-red-200 text-red-400 dark:bg-red-500 dark:text-red-300':
                  type === 'delete',
              }"
              (click)="handleAction(type)"
            >
              <svg-icon [src]="getIconForAction(type)" [svgClass]="'h-5 w-5'">
              </svg-icon>
            </button>
          }
        </div>
      </td>
    }
  }
}
