<form class="py-2 md:px-4" [formGroup]="equipmentForm">
  <h3
    class="font-[600] text-[24px] tracking-wide font-catamaran capitalize text-gray-900 dark:text-night-50"
  >
    Update Equipment
  </h3>
  <div class="grid grid-cols-1 gap-4 xl:grid-cols-3">
    <!-- Equipment Image Section -->
    <div class="relative bg-white shadow dark:bg-night-600 rounded-xl">
      <div>
        <div
          class="font-rubik text-gray-900 dark:text-night-50 font-[400] p-2 text-xm capitalize leading-relaxed border-b border-gray-300 dark:border-night-50"
        >
          Equipment Image
        </div>
        <div class="p-5">
          <div class="flex flex-wrap gap-2">
            <!-- Loop through image uploaders -->
            @for (item of imageUploaders; track $index) {
              <div class="relative">
                <image-uploader
                  [width]="'130px'"
                  [height]="'130px'"
                  [initialImage]="
                    selectedImages()[$index]
                      ? fileUrl + selectedImages()[$index]?.file_path
                      : null
                  "
                  [editMode]="true"
                  [canDelete]="canRemoveUploader($index)"
                  [isFromApi]="!!selectedImages()[$index]?.file_path"
                  (imageSelected)="
                    onImageSelected(
                      $event,
                      $index,
                      selectedImages()[$index]?.id || null
                    )
                  "
                ></image-uploader>

                <!-- Delete Button (Conditional) -->
                @if (
                  canRemoveUploader($index) &&
                  !selectedImages()[$index]?.file_path
                ) {
                  <button
                    type="button"
                    (click)="removeImageUploader($index)"
                    class="absolute flex items-center justify-center w-6 h-6 text-white bg-red-500 rounded-full -top-2 -right-2 hover:bg-red-600"
                    title="Remove image"
                  >
                    <svg-icon
                      src="./assets/icons/heroicons/outline/x-mark.svg"
                      [svgClass]="'w-4 h-4'"
                    ></svg-icon>
                  </button>
                }
              </div>
            }

            <!-- Add New Image Button (Conditional) -->
            @if (canAddMoreImages()) {
              <button
                type="button"
                (click)="addImageUploader()"
                class="flex items-center justify-center w-[130px] h-[130px] border-2 border-dashed border-gray-300 rounded-lg hover:border-gray-400 dark:border-night-400 dark:hover:border-night-300"
              >
                <svg-icon
                  src="./assets/icons/heroicons/outline/plus.svg"
                  [svgClass]="'w-6 h-6 text-gray-500 dark:text-night-200'"
                ></svg-icon>
              </button>
            }
          </div>

          <!-- Image Upload Instructions -->
          <div class="mt-8">
            <div
              class="flex items-center gap-2 mt-2 text-wrap dark:text-night-50"
            >
              <div>
                <svg-icon
                  src="./assets/icons/heroicons/outline/information-circle.svg"
                  [svgClass]="'w-5 h-5'"
                >
                </svg-icon>
              </div>
              <div class="flex-1 font-rubik text-[12px]">
                You need at least 4 images (maximum 10). Pay attention to the
                quality of the pictures you add (important)
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Equipment Details Section -->
    <div class="col-span-2">
      <div class="bg-white shadow rounded-xl dark:bg-night-600">
        <div
          class="font-rubik text-gray-900 dark:text-night-50 font-[400] p-2 text-xm capitalize leading-relaxed border-b border-gray-300 dark:border-night-50"
        >
          Equipment Details
        </div>
        <div class="p-5">
          <div class="grid grid-cols-1 gap-2 xl:grid-cols-3">
            <!-- Equipment Name -->
            <div class="form__group">
              <div class="relative">
                <label class="block mb-1 text-sm font-medium text-gray-700"
                  >Equipment Name
                  <span class="text-[#e11d48]">*</span>
                </label>
                <input
                  type="text"
                  id="fullname"
                  [ngClass]="{
                    'is__invalid-input': equipmentForm
                      .get('title')
                      .hasError('required'),
                  }"
                  class="block text-md peer input-field"
                  placeholder="Enter Equipment Name "
                  formControlName="title"
                  required
                />
              </div>

              @if (equipmentForm.get("title").hasError("required")) {
                <div class="is__invalid-error">Equipment Name is Required</div>
              }
            </div>

            <!-- Model Number -->
            <div class="form__group">
              <div class="relative">
                <label class="block mb-1 text-sm font-medium text-gray-700"
                  >Model Number
                  <span class="text-[#e11d48]">*</span>
                </label>
                <input
                  type="text"
                  id="fullname"
                  [ngClass]="{
                    'is__invalid-input': equipmentForm
                      .get('model')
                      .hasError('required'),
                  }"
                  class="block text-md peer input-field"
                  placeholder="Enter Model Number "
                  formControlName="model"
                  required
                />
              </div>

              @if (equipmentForm.get("model").hasError("required")) {
                <div class="is__invalid-error">Model number is Required</div>
              }
            </div>

            <!-- Serial Number -->
            <div class="form__group">
              <div class="relative">
                <label class="block mb-1 text-sm font-medium text-gray-700"
                  >Serial Number
                  <span class="text-[#e11d48]">*</span>
                </label>
                <input
                  type="text"
                  id="fullname"
                  [ngClass]="{
                    'is__invalid-input': equipmentForm
                      .get('serial_number')
                      .hasError('required'),
                  }"
                  class="block text-md peer input-field"
                  placeholder="Enter Serial Number "
                  formControlName="serial_number"
                  required
                />
              </div>

              @if (equipmentForm.get("serial_number").hasError("required")) {
                <div class="is__invalid-error">Serial number is Required</div>
              }
            </div>

            <!-- Equipment Categories -->
            <div class="form__group">
              <label class="block mb-1 text-sm font-medium text-gray-700"
                >Equipment Categories<span class="text-[#e11d48]"
                  >*</span
                ></label
              >
              <MultiSelect
                [placeholder]="'Select the Category'"
                [options]="transformToMultiSelectOptions(categories())"
                (selectionChange)="selectCategory($event)"
                [canAdd]="true"
                [selectedValuesSignal]="selectedCategories"
                [buttonLabel]="'Add New Category'"
              ></MultiSelect>
            </div>

            <!-- Purchase Date -->
            <div class="form__group">
              <div class="relative">
                <label
                  for="purchase_date"
                  class="block mb-1 text-sm font-medium text-gray-700"
                  >Purchase Date
                  <span class="text-[#e11d48]">*</span>
                </label>
                <input
                  type="date"
                  id="purchase_date"
                  [ngClass]="{
                    'is__invalid-input': equipmentForm
                      .get('purchase_date')
                      .hasError('required'),
                  }"
                  class="block text-md peer input-field"
                  placeholder="Enter Purchase Date"
                  formControlName="purchase_date"
                  required
                />
              </div>

              @if (equipmentForm.get("purchase_date").hasError("required")) {
                <div class="is__invalid-error">Purchase Date is Required</div>
              }
            </div>

            <!-- Quantity -->
            <div class="form__group">
              <div class="relative">
                <label
                  for="quantity"
                  class="block mb-1 text-sm font-medium text-gray-700"
                  >Quantity
                  <span class="text-[#e11d48]">*</span>
                </label>
                <input
                  type="number"
                  id="quantity"
                  min="1"
                  [ngClass]="{
                    'is__invalid-input': equipmentForm
                      .get('quantity')
                      .hasError('required'),
                  }"
                  class="block text-md peer input-field"
                  placeholder="Enter Quantity"
                  formControlName="quantity"
                  required
                />
              </div>

              @if (equipmentForm.get("quantity").hasError("required")) {
                <div class="is__invalid-error">Quantity is Required</div>
              }
            </div>

            <!-- Price -->
            <div class="form__group">
              <div class="relative">
                <label
                  for="price"
                  class="block mb-1 text-sm font-medium text-gray-700"
                  >Price
                  <span class="text-[#e11d48]">*</span>
                </label>
                <input
                  type="number"
                  id="quantity"
                  min="1"
                  [ngClass]="{
                    'is__invalid-input': equipmentForm
                      .get('price')
                      .hasError('required'),
                  }"
                  class="block text-md peer input-field"
                  placeholder="Enter Price"
                  formControlName="price"
                  required
                />
              </div>

              @if (equipmentForm.get("price").hasError("required")) {
                <div class="is__invalid-error">Price is Required</div>
              }
            </div>

            <!-- Short Description -->
            <div class="col-span-2 form__group">
              <div class="relative">
                <label class="block mb-1 text-sm font-medium text-gray-700"
                  >Short Description
                  <span class="text-[#e11d48]">*</span>
                </label>

                <textarea
                  rows="2"
                  [ngClass]="{
                    'is__invalid-input': equipmentForm
                      .get('short_description')
                      .hasError('required'),
                  }"
                  formControlName="short_description"
                ></textarea>
              </div>

              @if (
                equipmentForm.get("short_description").hasError("required")
              ) {
                <div class="is__invalid-error">
                  Short Description is Required
                </div>
              }
            </div>
          </div>

          <!-- Description & Product Feature -->
          <div class="mt-2 form__group">
            <div class="relative">
              <label class="block mb-2 text-sm font-medium text-gray-700"
                >Description & Product Feature
                <span class="text-[#e11d48]">*</span>
              </label>
              <div>
                <quill-editor
                  (onContentChanged)="onDescriptionChange($event)"
                  [styles]="{ height: '200px', width: '100%' }"
                  [ngClass]="{
                    'is__invalid-input': equipmentForm
                      .get('description')
                      .hasError('required'),
                  }"
                  formControlName="description"
                ></quill-editor>
              </div>
            </div>
            @if (equipmentForm.get("description").hasError("required")) {
              <div class="is__invalid-error">
                Equipment description is required
              </div>
            }
          </div>

          <!-- Publish Status -->
          <div class="form__group">
            <label class="block mt-2 text-sm font-medium text-gray-700"
              >Publish</label
            >
            <div class="mt-2 space-x-4">
              <label class="inline-flex items-center">
                <input
                  type="radio"
                  formControlName="isPublished"
                  [value]="true"
                  class="w-5 h-5 border-gray-300 form-radio text-primary-600 focus:ring-primary-500"
                />
                <span class="ml-2">Published</span>
              </label>
              <label class="inline-flex items-center">
                <input
                  type="radio"
                  formControlName="isPublished"
                  [value]="false"
                  class="w-5 h-5 border-gray-300 form-radio text-primary-600 focus:ring-primary-500"
                />
                <span class="ml-2">Unpublished</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Equipment Status Section -->
    <div class="mt-4 bg-white shadow rounded-xl dark:bg-night-600">
      <div
        class="font-rubik text-gray-900 dark:text-night-50 font-[400] p-2 text-xm capitalize leading-relaxed border-b border-gray-300 dark:border-night-50"
      >
        Status
      </div>
      <div class="p-5">
        <div class="mt-2">
          <div class="form__group">
            <label
              for="equipment_status"
              class="block mb-1 text-sm font-medium text-gray-700"
              >Equipment Status<span class="text-[#e11d48]">*</span></label
            >

            <NormalSelect
              [options]="status"
              [placeholder]="'select status'"
              (selectionChange)="selectStatus($event)"
              [selectedOption]="selectedStatus"
            />
          </div>
        </div>
        <div class="mt-2">
          <div class="form__group">
            <label
              for="used_For"
              class="block mb-1 text-sm font-medium text-gray-700"
              >Uses of The Equipment<span class="text-[#e11d48]">*</span></label
            >

            <NormalSelect
              [options]="usedFor"
              [placeholder]="'select Used for'"
              (selectionChange)="selectUsedFor($event)"
              [selectedOption]="selectedUsedFor"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Form Actions -->
  <div class="flex items-center justify-end gap-3 p-3">
    <button
      (click)="cancel()"
      class="px-5 py-2 text-white bg-red-500 rounded-lg font-[500] hover:bg-red-700"
    >
      Cancel
    </button>
    <button
      type="submit"
      [disabled]="
        equipmentForm.invalid ||
        createLoading() ||
        selectedCategories().length === 0 ||
        !selectedStatus() ||
        !selectedUsedFor()
      "
      (click)="submit()"
      class="px-5 py-2 text-white rounded-lg font-[500] flex items-center justify-center min-w-[100px]"
      [ngClass]="{
        'bg-green-500 hover:bg-green-700':
          !equipmentForm.invalid &&
          !createLoading() &&
          selectedCategories().length > 0 &&
          selectedStatus() &&
          selectedUsedFor(),
        'bg-gray-300':
          equipmentForm.invalid ||
          createLoading() ||
          selectedCategories().length === 0 ||
          !selectedStatus() ||
          !selectedUsedFor(),
      }"
    >
      @if (createLoading()) {
        <svg
          class="w-5 h-5 mr-3 -ml-1 text-white animate-spin"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
      }

      {{ createLoading() ? "Submitting..." : "Submit" }}
    </button>
  </div>
</form>
