<section class="section about" id="about" aria-label="about">
  @if (about) {
    <div class="container">
      <div class="about-banner has-after">
        <img
          src="{{ about.image }}"
          width="660"
          height="648"
          loading="lazy"
          alt="about banner"
          class="w-100"
        />

        <img
          src="./assets/images/about-circle-one.png"
          width="660"
          height="534"
          loading="lazy"
          aria-hidden="true"
          alt=""
          class="circle circle-1"
        />
        <img
          src="./assets/images/about-circle-two.png"
          width="660"
          height="534"
          loading="lazy"
          aria-hidden="true"
          alt=""
          class="circle circle-2"
        />

        <img
          src="./assets/images/fitness.png"
          width="650"
          height="154"
          loading="lazy"
          alt="fitness"
          class="abs-img w-100"
        />
      </div>

      <div class="about-content">
        <p class="py-3 section-subtitle">About Us</p>

        <h2
          class="text-2xl font-[500] text-[var(--rich-black-fogra-29-1)] hero-title xl:text-[3rem] leading-[1.2]"
        >
          {{ about.title }}
        </h2>

        <p class="leading-normal tracking-wider">
          {{ about.description }}
        </p>

        <p class="leading-normal tracking-wider">
          {{ about.subDescription }}
        </p>

        <div class="wrapper">
          <div class="about-coach">
            <figure class="coach-avatar">
              <img
                src="{{ about.ownerImage }}"
                width="65"
                height="65"
                loading="lazy"
                alt="Trainer"
              />
            </figure>

            <div class="">
              <h3
                class="text-xl font-[600] text-[var(--rich-black-fogra-29-1)] hero-title leading-[1.2] coach-name font-catamaran"
              >
                {{ about.ownerName }}
              </h3>

              <p
              class="coach-title"
              >
                {{ about.ownerPosition }}
              </p>
            </div>
          </div>

          <a
            href="#"
            class="duration-100 ease-in-out delay-100 rounded-[var(--radius-8)] btn-primary py-[10px] px-3 text-center font-[500]"
            >Explore More</a
          >
        </div>
      </div>
    </div>
  }
</section>
