<section class="mx-3 my-5 xl:my-5 xl:mx-5">
  <div class="flex items-center justify-center gap-1 mb-2 lg:justify-end">
    <button
      class="relative lg:text-[var(--onyx)] lg:p-[5px] p-2 text-sm font-medium text-gray-700 rounded-full hover:bg-gray-100 dark:text-night-200 dark:hover:bg-night-500"
    >
      <svg-icon
        src="./assets/icons/heroicons/outline/heart.svg"
        [svgStyle]="{ 'width.px': 24 }"
      ></svg-icon>

      <span
        class="absolute -top-[2px] lg:-right-[3px] bg-primary-500 text-white lg:py-[2px] lg:px-[4px] rounded-full w-4 h-4 flex items-center justify-center text-sm"
        >1</span
      >
    </button>

    <button
      class="relative lg:text-[var(--onyx)] lg:p-[5px] p-2 text-sm font-medium text-gray-700 rounded-full hover:bg-gray-100 dark:text-night-200 dark:hover:bg-night-500"
      routerLink="/equipments/cart"
    >
      <svg-icon
        src="./assets/icons/heroicons/outline/shopping-cart.svg"
        [svgStyle]="{ 'width.px': 24 }"
      ></svg-icon>

      <span
        class="count absolute -top-[2px] lg:-right-[3px] bg-primary-500 text-white lg:py-[2px] lg:px-[4px] rounded-full w-4 h-4 flex items-center justify-center text-sm"
      >
        {{ cart()?.items?.length || 0 }}
      </span>
    </button>
    <Menu
      [triggerIcon]="'./assets/icons/heroicons/outline/person.svg'"
      [config]="profileConfig"
      [sections]="profileSections"
      [containerClass]="'rounded-full'"
    >
    </Menu>
  </div>

  <SearchDropdown
    (searchChange)="onSearch($event)"
    [data]="equipemnts()"
    [isLoading]="loading()"
    (navigateTo)="navigateTo($event)"
  ></SearchDropdown>

  <equipment-layout></equipment-layout>
</section>
