<nav
  [ngClass]="menuService.showSideBar ? 'w-52 xl:w-64' : 'w-[70px]'"
  class="flex-col justify-between hidden h-full pt-3 overflow-auto transition-all duration-300 bg-white scrollbar-thumb-rounded scrollbar-track-rounded scrollbar-thin scrollbar-track-gray-50 scrollbar-thumb-gray-100 dark:bg-night-700 dark:scrollbar-thumb-night-500 dark:scrollbar-track-night-600 lg:flex"
>
  <div class="px-4">
    <!-- Logo -->
    <div class="relative h-10">
      <div class="flex items-center" *ngIf="menuService.showSideBar">
        <a
          class="flex items-center justify-center p-2 rounded bg-primary-100 focus:outline-none focus:ring-1"
        >
          <svg-icon
            src="assets/images/logo.svg"
            [svgClass]="'h-6 w-6'"
          >
          </svg-icon>
        </a>
        <!-- <b class="pl-2 ml-1 text-sm font-bold dark:text-night-50">
          {{ appJson.displayName }}
        </b> -->
      </div>
      <button
        (click)="toggleSidebar()"
        class="absolute flex items-center justify-center w-5 h-5 text-gray-400 transition-all duration-200 rounded top-2 right-2 focus:outline-none hover:text-gray-500 dark:text-night-400 dark:hover:text-night-300"
        [ngClass]="{ 'rotate-180': !menuService.showSideBar }"
      >
        <svg-icon src="assets/icons/heroicons/solid/chevron-double-left.svg"
          [svgClass]="'h-5 w-5'">
        </svg-icon>
      </button>
    </div>

    <!-- Separator -->
    <div class="pt-3">
      <hr class="border-gray-200 border-dashed dark:border-night-500" />
    </div>

    <!-- Menu Items -->
    <app-sidebar-menu></app-sidebar-menu>
  </div>


  <div class="mx-4 my-4 space-y-1">
    <div class="pt-3">
      <hr class="border-gray-200 border-dashed dark:border-night-500" />
    </div>
    <!-- Dark Theme -->
    <div
      (click)="toggleTheme()"
      class="flex items-center justify-start p-2 rounded cursor-pointer group h-9 hover:bg-gray-100 dark:hover:bg-night-600"
    >
      <svg-icon
        [src]="
          themeService.isDark
            ? 'assets/icons/heroicons/solid/sun.svg'
            : 'assets/icons/heroicons/solid/moon.svg'
        "
        [svgClass]="'h-5 w-5 text-gray-400 dark:text-yellow-500'"
      >
      </svg-icon>

      <a
        class="ml-3 truncate text-xs font-[500] font-rubik tracking-wide text-gray-600 focus:outline-none dark:text-night-100"
      >
        {{ themeService.isDark ? "Light" : "Dark" }}
      </a>

      <div class="fixed w-full" *ngIf="!menuService.showSideBar">
        <span
          class="z-1 absolute left-12 -top-4 w-auto min-w-max origin-left scale-0 rounded-md bg-black p-2 text-xs font-[500] font-rubik  text-white shadow-md transition-all duration-200 group-hover:scale-100 dark:bg-white dark:text-night-900"
        >
          Theme
        </span>
      </div>
    </div>
    <!-- Sign out -->
    <div
      class="flex items-center justify-start p-2 rounded cursor-pointer group h-9 hover:bg-gray-100 dark:hover:bg-night-600"
    >
      <svg-icon
        src="assets/icons/heroicons/solid/logout.svg"
        [svgClass]="'h-5 w-5 text-gray-400 dark:text-night-400'"
      >
      </svg-icon>

      <a
        routerLink="/auth"

        class="ml-3 truncate text-xs font-[500] font-rubik tracking-wide text-gray-600 focus:outline-none dark:text-night-100"
      >
        Sign out
      </a>

      <div class="fixed w-full" *ngIf="!menuService.showSideBar">
        <span
          class="z-1 absolute left-12 -top-4 w-auto min-w-max origin-left scale-0 rounded-md bg-black p-2 text-xs font-[500] font-rubik text-white shadow-md transition-all duration-200 group-hover:scale-100 dark:bg-white dark:text-night-900"
        >
          Sign out
        </span>
      </div>
    </div>

  </div>
</nav>
