<ListTable
  [title]="'Gym Members'"
  [totalTitle]="'All members'"
  [totalValue]="totalItems()"
  (onAdd)="addNewMember()"
  [buttonLabel]="'Add Member'"
  [actions]="actions"
  (onCheckAll)="toggleUsers($event)"
  (onCheck)="toggleUser($event)"
  (onUpdate)="update($event)"
  (onDelete)="delete()"
  [isModalOpen]="isModalOpen"
  [data]="members()"
  [headerColumns]="headerColumns"
  [rowColumns]="rowColumns"
  [itemsPerPage]="itemsPerPage"
  [totalItems]="totalItems()"
  [currentPage]="currentPage()"
  [totalPages]="totalPages()"
  (pageChange)="onPageChange($event)"
  (itemsPerPageChange)="onItemPerPageChange($event)"
></ListTable>
