<ListTable
  [title]="'Gym Members'"
  [totalTitle]="'All members'"
  [totalValue]="totalItems()"
  (onAdd)="addNewMember()"
  [buttonLabel]="'Add Member'"
  [deleteContent]="'Are you sure you want to delete this member?'"
  [deleteSubContent]="
    'Deleting this member will permanently remove this member from your members list'
  "
  [actions]="actions"
  (onCheckAll)="toggleUsers($event)"
  (onCheck)="toggleUser($event)"
  (onUpdate)="update($event)"
  (openDeleteModal)="deleteModal($event)"
  (onDelete)="delete()"
  [isModalOpen]="isModalOpen()"
  (closeModalEvent)="closeModal()"
  [data]="members()"
  [headerColumns]="headerColumns"
  [rowColumns]="rowColumns"
  [itemsPerPage]="itemsPerPage"
  [totalItems]="totalItems()"
  [currentPage]="currentPage()"
  [totalPages]="totalPages()"
  (pageChange)="onPageChange($event)"
  (itemsPerPageChange)="onItemPerPageChange($event)"
></ListTable>
