@if (order) {
  <div
    class="p-6 border rounded-lg"
    [ngClass]="{
      ' border-green-600': order.status === 'Delivered',
      ' border-yellow-600 ': order.status === 'Shipped',
      ' border-blue-600  ': order.status === 'Processing',
    }"
  >
    <div class="flex justify-between">
      <div>
        <h5 class="font-[400] font-catamaran text-xl">{{ order.id }}</h5>
        <p class="text-sm text-gray-400">{{ order.date }}</p>
      </div>
      <div>
        <span
          class="px-2 py-1 text-xs border rounded-full"
          [ngClass]="{
            'bg-green-50  border-green-600 text-green-600 ':
              order.status === 'Delivered',
            'bg-yellow-50  border-yellow-600 text-yellow-600':
              order.status === 'Shipped',
            'bg-blue-50 border-blue-600 text-blue-600  ':
              order.status === 'Processing',
          }"
          >{{ order.status }}</span
        >
      </div>
    </div>
    <div class="flex -space-x-2">
      @for (image of order.images.slice(0, 2); track $index) {
        <img
          class="w-8 h-8 rounded-full ring-2 ring-white"
          [src]="image"
          alt="Equipment"
        />
      }
      @if (order.images.length > 2) {
        <span
          class="flex items-center justify-center w-8 h-8 text-xs font-medium bg-gray-200 rounded-full ring-2 ring-white"
        >
          +{{ order.images.length - 2 }}
        </span>
      }
    </div>
    <div class="my-2 text-sm font-medium">{{ order.amount }}</div>
    <div class="flex items-center justify-end gap-x-2">
      <button
        class="flex items-center justify-center text-green-400 bg-green-200 rounded-md h-7 w-7 dark:bg-green-500 dark:text-green-300"
      >
        <svg-icon
          [src]="'assets/icons/heroicons/outline/eye.svg'"
          [svgClass]="'h-5 w-5'"
        >
        </svg-icon>
      </button>
      <button
        class="flex items-center justify-center text-red-400 bg-red-200 rounded-md h-7 w-7 dark:bg-red-500 dark:text-red-300"
      >
        <svg-icon
          [src]="'assets/icons/heroicons/outline/trash.svg'"
          [svgClass]="'h-5 w-5'"
        >
        </svg-icon>
      </button>
    </div>
  </div>
}
