<section class="py-12">
  <div class="container px-4 mx-auto">
    <div class="flex flex-col items-center gap-5 md:flex-row">
      <div class="mb-8 md:w-1/2 md:mb-0">
        <div class="about-content">
          <div class="flex items-center justify-center md:justify-start">
            <p class="py-3 section-subtitle">About Us</p>
          </div>

          <p class="leading-normal tracking-wider">
            Direna FitPro is a division of Direna Solution Group, and we are
            dedicated to providing top-quality sports equipment and gym
            solutions. We take pride in offering comprehensive solutions to our
            clients both locally and internationally. As suppliers and
            distributors of state-of-the-art fitness and sports equipment, our
            mission is to enhance and inspire health and wellness through the
            best possible means.
          </p>
          <p class="mt-4 leading-normal tracking-wider">
            With over 5 years of experience, we have established ourselves as
            leaders in the supply of high-quality fitness and sports equipment,
            ensuring that our services meet our clients' needs efficiently. We
            are not just suppliers of gym equipment, but also offer complete
            services including expert advice, installation, and maintenance of
            our equipment.
          </p>
          <p class="mt-4 leading-normal tracking-wider">
            At Direna FitPro, we value quality, trust, and close collaboration
            with our clients. We strive to deliver modern, effective solutions
            to the sports and fitness industry, ensuring our clients receive
            premium services and equipment that meet international standards.
          </p>
        </div>
      </div>
      <div class="w-[90%] md:w-1/2">
        <div class="about-banner has-after">
          <img
            src="./assets/images/about-banner.png"
            width="660"
            height="648"
            loading="lazy"
            alt="about banner"
            class="w-100"
          />

          <img
            src="./assets/images/about-circle-one.png"
            width="660"
            height="534"
            loading="lazy"
            aria-hidden="true"
            alt=""
            class="circle circle-1"
          />
          <img
            src="./assets/images/about-circle-two.png"
            width="660"
            height="534"
            loading="lazy"
            aria-hidden="true"
            alt=""
            class="circle circle-2"
          />

          <img
            src="./assets/images/fitness.png"
            width="650"
            height="154"
            loading="lazy"
            alt="fitness"
            class="abs-img w-100"
          />
        </div>
      </div>
    </div>
  </div>
</section>
