<section class="py-12">
  <div class="container px-4 mx-auto">
    <div class="flex flex-col items-center gap-5 md:flex-row">
      <div class="mb-8 md:w-1/2 md:mb-0">
        <div class="about-content">
          <div class="flex items-center justify-center md:justify-start">
            <p class="mb-5 section-subtitle">Our Mission</p>
          </div>

          <p class="section-text">
            At Direna FitPro, our mission is to empower individuals to live a
            healthy and active lifestyle. We provide personalized fitness plans,
            group classes, diet plans, and fitness education to help our members
            reach their goals.
          </p>
          <p class="mt-4 section-text">
            With certified trainers and state-of-the-art facilities, we focus on
            creating a supportive environment where members can thrive in their
            fitness journey.
          </p>
        </div>
      </div>
      <div class="w-[90%] md:w-1/2">
        <div class="about-banner has-after">
          <img
            src="./assets/images/about-banner.png"
            width="660"
            height="648"
            loading="lazy"
            alt="about banner"
            class="w-100"
          />

          <img
            src="./assets/images/about-circle-one.png"
            width="660"
            height="534"
            loading="lazy"
            aria-hidden="true"
            alt=""
            class="circle circle-1"
          />
          <img
            src="./assets/images/about-circle-two.png"
            width="660"
            height="534"
            loading="lazy"
            aria-hidden="true"
            alt=""
            class="circle circle-2"
          />

          <img
            src="./assets/images/fitness.png"
            width="650"
            height="154"
            loading="lazy"
            alt="fitness"
            class="abs-img w-100"
          />
        </div>
      </div>
    </div>
  </div>
</section>
