<li class="">
  <div class="blog-card shadow-orange-300 hover:shaow-lg">
    <div class="card-banner img-holder" style="--width: 440; --height: 270">
      <img
        [src]="blog.image"
        width="440"
        height="270"
        loading="lazy"
        alt="Going to the gym for the first time"
        class="img-cover"
      />

      <time
        class="bg-[var(--coquelicot)] text-white absolute text-xl font-[500] xl:text-[1.5rem] uppercase card-meta"
        datetime="2022-07-07"
        >{{ blog.date }}</time
      >
    </div>

    <div class="card-content">
      <h3 class="">
        <a
          href="#"
          class="text-xl font-[500] text-[var(--rich-black-fogra-29-1)] xl:text-[1.5rem] leading-[1.2]"
          >{{ blog.title }}</a
        >
      </h3>

      <p class="text-[var(--sonic-silver)] truncate-2-lines">
        {{ blog.description }}
      </p>

      <button
        (click)="view(blog.id)"
        class="text-sm btn-link has-before"
      >
        Read More
      </button>
    </div>
  </div>
</li>
