<section class="p-5 mb-4 bg-white rounded-lg font-catamaran">
  <div class="flex items-center justify-between mb-3">
    <div class="text-md">Branches</div>
    <a
      class="text-sm capitalize cursor-pointer hover:underline text-primary-500"
      >view all</a
    >
  </div>
  <div
    class="mb-2 text-gray-700 bg-white rounded-lg shadow dark:text-night-50 dark:bg-night-700"
  >
    <div
      class="flex items-center justify-between p-3 font-[500] capitalize text-md font-rubik"
    >
      <div class="flex items-end gap-1">
        <div>
          <svg-icon
            src="assets/icons/heroicons/solid/building-office-2.svg"
            [svgClass]="'w-4 h-4 text-primary-500'"
            class="inline-block"
          >
          </svg-icon>
        </div>
        <div>Goba Road</div>
      </div>
    </div>

    <div class="p-3">
      <div class="flex gap-x-1">
        <div
          class="flex items-center justify-center w-6 h-6 text-green-500 bg-green-100 rounded-md"
        >
          <svg-icon
            src="./assets/icons/heroicons/solid/globe-europe-africa.svg"
            [svgClass]="'w-4 h-4 '"
            class="inline-block"
          ></svg-icon>
        </div>
        <div>Tanzania</div>
      </div>

      <div class="flex mt-2 gap-x-1">
        <div
          class="flex items-center justify-center w-6 h-6 text-green-500 bg-green-100 rounded-md"
        >
          <svg-icon
            src="./assets/icons/heroicons/solid/globe-alt.svg"
            [svgClass]="'w-4 h-4 '"
            class="inline-block"
          ></svg-icon>
        </div>
        <div>Dar es Salaam</div>
      </div>
    </div>
  </div>
</section>
