<div class="flex items-center gap-1">
  <div class="p-1 text-green-500 bg-green-100 rounded-md">
    <svg-icon
      [src]="'/assets/icons/heroicons/outline/shield-check.svg'"
      [svgStyle]="{ 'width.px': 24 }"
    ></svg-icon>
  </div>
  <div class="text-xl font-bold">Security Settings</div>
</div>

<p class="mt-4 mb-6 text-gray-400">Manage your account security</p>

<div class="mb-6 text-xl font-bold">Change Password</div>

<div >
  <form class="space-y-3">
    <div>
      <label for="current_password" class="block mb-2">Current Password</label>
      <input type="text" id="current_password" class="input-field" />
    </div>

    <div>
      <label for="new_password" class="block mb-2">New Password</label>
      <input type="text" id="new_password" class="input-field" />
    </div>

    <div>
      <label for="confirm_password" class="block mb-2">Confirm Password</label>
      <input type="text" id="confirm_password" class="input-field" />
    </div>


    <div class="flex items-center justify-end">
      <button

      class="px-6 py-2 text-white transition-colors duration-200 rounded-lg bg-primary-400 hover:bg-primary-600"
    >
      Update Password
    </button>
    </div>
  </form>
</div>
