@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #e0a84e;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.5);
}

.container {
  padding: 0 15px;
}

@media (min-width: 768px) {
 
  html {
    font-size: 17px;
  }
  .container {
    max-width: 750px;
    margin: auto;
  }
}

@media (min-width: 1024px) {

  .container {
    max-width: 980px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1400px) {
  html {
    font-size: 18px;
  }
  .container {
    max-width: 1350px;
  }
}
