<ListTable
  [title]="'Staff Members'"
  [totalTitle]="'All Staffs'"
  [totalValue]="totalItems()"
  (onAdd)="addNewStaff()"
  [buttonLabel]="'Add Staff'"
  [deleteContent]="'Are you sure you want to delete this staff?'"
  [deleteSubContent]="
    'Deleting this staff will permanently remove this staff from your staff list'
  "
  [actions]="actions"
  (onUpdate)="update($event)"
  (onView)="view($event)"
  (openDeleteModal)="deleteModal($event)"
  (onDelete)="delete()"
  [isModalOpen]="isModalOpen()"
  (closeModalEvent)="closeModal()"
  [data]="staffs()"
  [headerColumns]="headerColumns"
  [rowColumns]="rowColumns"
  [itemsPerPage]="itemsPerPage"
  [totalItems]="totalItems()"
  [currentPage]="currentPage()"
  [totalPages]="totalPages()"
  (pageChange)="onPageChange($event)"
  (itemsPerPageChange)="onItemPerPageChange($event)"
></ListTable>
