<div class="flex items-center justify-between px-2 mb-4">
  <div class="inline-block text-gray-900 dark:text-night-50">
    <h3 class="font-[600] text-[24px] tracking-wide font-catamaran uppercase">
      {{ title }}
    </h3>

    <div class="flex items-center gap-1 text-muted-foreground font-varela">
      <span class="font-[400] capitalize">{{ totalTitle }} :</span>
      <span class="text-foreground">{{ totalValue }}</span>
    </div>
  </div>

  <div class="inline-block space-x-4">
    <button
      (click)="add()"
      class="flex-none rounded-md bg-gray-200 px-4 py-2.5 text-xs font-semibold text-gray-500 hover:bg-gray-300 dark:bg-night-600 dark:text-night-200 dark:hover:bg-night-500 capitalize"
    >
      {{ buttonLabel }}
    </button>
  </div>
</div>

<div
  class="flex flex-col min-w-full p-2 overflow-x-auto bg-white border rounded-xl border-muted/20"
>
  <TableActions [actions]="actions"></TableActions>
  <div
    class="overflow-x-auto scrollbar-thumb-rounded scrollbar-track-rounded grow scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted"
  >
    <table
      class="table w-full overflow-x-auto text-sm leading-5 text-left align-middle border-0 border-collapse table-auto sm:text-base text-muted-foreground"
    >
      <thead class="p-10 text-xs border bg-gray-50">
        <tr
          app-table-header
          (onCheckAll)="toggleAll($event)"
          [columns]="headerColumns"
        ></tr>
      </thead>
      <tbody>
        @for (row of data; track $index) {
          <tr
            table-row
            [index]="$index + 1"
            [data]="row"
            [columns]="rowColumns"
            (onCheck)="toggle($event.checked, row)"
            (onDelete)="deleteModal(row.id)"
            (onUpdate)="update(row.id)"
            (onView)="view(row.id)"
            class="hover:bg-gray-50"
          ></tr>
        } @empty {
          <tr>
            <td
              class="py-4 text-sm text-center h-[10rem] bg-gray-50"
              [attr.colspan]="colSpans"
            >
              No Data found
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
  <TableFooter
    (pageChange)="onPageChange($event)"
    (itemsPerPageChange)="onItemsPerPageChange($event)"
    [itemsPerPage]="itemsPerPage"
    [totalItems]="totalItems"
    [currentPage]="currentPage"
    [totalPages]="totalPages"
  ></TableFooter>
</div>

<Modal
  [isOpen]="isModalOpen()"
  (closeModalEvent)="closeModal()"
  [title]="'Delete Confirmation'"
  [content]="deleteContent"
  [subContent]="deleteSubContent"
  (submit)="delete()"
></Modal>
