<div class="flex items-center gap-1">
  <div class="p-1 text-green-500 bg-green-100 rounded-md">
    <svg-icon
      [src]="'/assets/icons/heroicons/outline/building-office-2.svg'"
      [svgStyle]="{ 'width.px': 24 }"
    ></svg-icon>
  </div>
  <div class="text-xl font-bold">Addresses</div>
</div>

<p class="mt-4 mb-6 text-gray-400">
  Manage your shipping and billing addresses
</p>

@if (loading()) {
  <div class="flex items-center justify-center h-32">
    <span class="loader"></span>
  </div>
} @else {
  <!-- Empty State -->
  @if (addresses().length === 0) {
    <div
      class="flex flex-col items-center justify-center h-32 p-6 mb-3 bg-gray-100 rounded-lg"
    >
      <p class="text-gray-500">
        No addresses found. Add a new address to get started.
      </p>
    </div>
  } @else {
    <!-- Address List -->
    <div class="grid grid-cols-1 gap-6 mb-6 md:grid-cols-2">
      @for (address of addresses(); track $index) {
        <address-card [address]="address"></address-card>
      }
    </div>
  }
}

<div class="flex items-center justify-end">
  <button
    (click)="addNewAddress()"
    class="px-6 py-2 text-white transition-colors duration-200 rounded-lg bg-primary-600 hover:bg-primary-700"
  >
    Add New Address
  </button>
</div>

<create-address [isModalOpen]="isModalOpen()" (cancel)="closeModal()">
</create-address>
